<template name="PostList">
 {{ > Post }}{{ > Post }}{{ > Post }}{{ > Post }}{{ > Post }}{{ > Post }}{{ > Post }}{{ > Post }}{{ > Post }}{{ > Post }}
</template>

<template name="Post">
	<div class="card">
		<div class="card-content">
			<div class="post-container">
				<div class="left-content">
					<img src="https://scontent-sjc.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/10988436_807584895981649_3642995571896423460_n.jpg?oh=2714e90b614db34f0196fbc56caa8ab3&oe=55996C29" class="circle responsive-img"><br>
					<span class="lead small"><strong>Jacob Foster</strong></span>
				</div>
				<div class="right-content">
					<div class="post-languages">
						<span class="lead small"><strong>Native:</strong> English &mdash; <strong>Learning:</strong> Japanese</span>
					</div>
					<div class="post-content">
						どこも場合いよいよこうした任命方というのの頃を起しですまし。じっと場合を説明社はもっともその学習なたかもが思えてやっですからは発展するうたが、それだけには云うましうますでし。

人達にしざるのは必ずしもすべてを同時にませますな。
					</div>
					<div class="post-meta">
						<div class="post-date">
							posted on <strong>April 30, 2015</strong>
						</div>
						<div class="post-tags">
							introduction, japanese, learning, language exchange, partners
						</div>
					</div>
				</div>
			</div>
<!--
			<div class="row">
				<div class="col s1 center-align">
					<img src="https://scontent-sjc.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/10988436_807584895981649_3642995571896423460_n.jpg?oh=2714e90b614db34f0196fbc56caa8ab3&oe=55996C29" class="circle responsive-img"><br>
					<span class="lead small"><strong>Jacob Foster</strong></span>
				</div>
				<div class="col s11">
					<span class="lead small"><strong>Native:</strong> English &mdash; <strong>Learning:</strong> Japanese</span>
					<br>
					<br>
					<p>どこも場合いよいよこうした任命方というのの頃を起しですまし。じっと場合を説明社はもっともその学習なたかもが思えてやっですからは発展するうたが、それだけには云うましうますでし。

人達にしざるのは必ずしもすべてを同時にませますな。</p>
				</div>
			</div>
-->
		</div>
		<div class="card-action">
		</div>
	</div>	
</template>