<template name="PostList">
	{{ #each posts }}
 		{{ > Post }}
	{{ /each }}
</template>

<template name="Post">
	<div class="card">
		<div class="card-content">
			<div class="post-container">
				<div class="left-content hide-on-small-only">
					<img src="https://scontent-sjc.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/10988436_807584895981649_3642995571896423460_n.jpg?oh=2714e90b614db34f0196fbc56caa8ab3&oe=55996C29" class="circle responsive-img"><br>
					<span class="lead small"><strong><a href="#">{{ author.profile.first_name }} {{ author.profile.last_name }}</a></strong></span>
				</div>
				<div class="right-content">
					<div class="post-languages">
						<span class="lead hide-on-med-and-up"><a href="#">{{ author.profile.first_name }} {{ author.profile.last_name }}</a><br></span>
						<span class="lead small"><strong>Native:</strong> {{ author.profile.native_language }} &mdash; <strong>Learning:</strong> {{ language }}</span>
					</div>
					<div class="post-content">
						{{ post }}
					</div>
					<div class="post-meta">
						<div class="post-date">
							posted on <strong>{{ date }}</strong>
						</div>
						<div class="post-tags">
							{{ tags }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-action">
			<a class="tooltipped black-text" data-position="right" data-delay="0" data-tooltip="Corrections"><i class="green-text mdi-action-spellcheck"></i> 0</a><a class="right correct-post" href="">Correct Post</a>
		</div>
	</div>	
</template>